
        <script type="text/javascript">
      $(document).ready(function() {
$.ajax({
          url: "/api/v1/processrunning/get",
          dataType: "json",
          success: function(e) {
            if (!$.trim(e.response)) {
              $(".toast").toast("hide");
            }
            else {
              $('.toast').toast({animation:true, autohide: true, delay:15000});
              $(".toast").toast("show");
              $("#hide-toast").on("click", function () {
                  $(".toast").toast("hide");
                });
              $.each(e.response, function(e, t) {
                $('#toast-message-body').append('<p class="p-0 m-0">' + t + '</p>');
              });
            }
          }
        })
        });
    </script>
      <div class="text-center text-white py-5">
        © 2023 Do What The F*ck You Want.
      </div>
    </div>
  </body>
</html>
