      <div class="p-3 mb-3">
        <h1 class="p-3 text-success text-calculator">Subdomain Recon</h1>
        <p class="text-white">Subdomain Recon by Subfinder.</p>
        <form id="formElem">
          <div class="input-group mb-3"><span class="input-group-text bg-success text-white border-success"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-swords" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M21 3v5l-11 9l-4 4l-3 -3l4 -4l9 -11z"></path>
                <path d="M5 13l6 6"></path>
                <path d="M14.32 17.32l3.68 3.68l3 -3l-3.365 -3.365"></path>
                <path d="M10 5.5l-2 -2.5h-5v5l3 2.5"></path>
              </svg></span><input type="text" name="target" class="form-control bg-transparent text-white border-success" autocomplete="off" placeholder="example.com" id="scanInput"><button class="btn btn-success px-4" type="submit" id="scanButton">Scan!</button></div>
        </form>
        <div class="spinner-border text-success" id="loading-spinner" role="status"><span class="visually-hidden">Loading...</span></div>
        <div id="response" class="table-responsive">
          <span id="response-status" class="text-success"></span>
          <table id="response-text" class="table table-dark table-striped text-white text-start mt-5"></table>
        </div>
      </div>

    </div>

{% include '_include.js.html' %}

    <!-- <script type="text/javascript">
      $(document).ready(function() {
        $("#scanInput").prop("disabled", !1), $("#scanButton").prop("disabled", !1), $("#loading-spinner").hide();
        $("#formElem").on("submit", async function(e) {
          $("#scanInput").prop("disabled", !0), $("#scanButton").prop("disabled", !0), $("#response-status").empty(), $("#response-text").empty(), $("#loading-spinner").show(), e.preventDefault();
          var t = $(this).find('input[name="target"]').val();
          try {
            var s = await $.ajax({
              url: "/api/v1/shodansmap/get/" + t,
              method: "GET",
              headers: {
                "Content-Type": "application/json"
              },
              dataType: "json"
            });
            $("#scanInput").prop("disabled", !1), $("#scanButton").prop("disabled", !1), $("#loading-spinner").hide();
            $("#response-status").html('<span class="bg-success rounded text-white fw-bolder p-1">' + s.status + "</span>");
            $.each(s.response, function (i) {
              $.each(s.response[i], function (x, v) {
                console.log(x + ': ' + JSON.stringify(v))
                $('#response-text').append('<tr class="border-bottom border-1 border-success p-1"><th class="text-success fw-bolder p-2 text-capitalize" style="width: 15%">' + x + '</th><td><pre style="white-space: pre-wrap; word-break: break-all">' + JSON.stringify(v, null, 2) + '</pre></td></tr>');
              });
            })
          } catch (n) {
            $("#scanInput").prop("disabled", !1), $("#scanButton").prop("disabled", !1), $("#loading-spinner").hide(), console.log(n.responseJSON), void 0 === n.responseJSON ? $("#response-status").html('<span class="bg-danger rounded text-white fw-bolder p-1">Unknown Error</span>') : ($("#response-status").html('<span class="bg-danger rounded text-white fw-bolder p-1">' + n.responseJSON.status + "</span>"), $("#response-text").text(n.responseJSON.response + "."))
          }
        })
      });
    </script> -->
